.container  { 
  /* border:0.5px solid #000000 ; */
  /* padding-left: auto;
  padding-right: auto; */
  height: 100vh;
}
footer .container{
height: auto;
}
.row{
max-width: 50%;
padding: 10px 5px 10px 5px;
position: relative;
margin: 0 ;
}
.BG-Copy {
  border-color: #2f3944;
  
}
table {
  border: 2px solid #2f3944;
  font-family: 微軟正黑體;
  font-size: 16px;
  text-align: center;
  border-collapse: collapse;
  border: 1px;
}
th {
  background-color: #000000de;
  border: 1px solid #2f3944;
  color: #fff;
}
td {
  border: 1px solid #2f3944;
}
tr {
  height: 60px;
}
#body {
  background-image: url(./imags/cyberpunk.jpg);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}
#body_admin{
  background-image: url(./imags/cyberpunk.jpg);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
  
}
.title{
  background-color: #000000;
  font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #ffffff;
  }

.bgplace {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #ffffff;
  padding: 30px 30px 20px 30px;
  font: 12px Arial, Helvetica, sans-serif;
  color: rgb(4, 4, 4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.bgplace label {
  display: block;
  margin: 0px 0px 5px;
}
.bgplace textarea {
  height: 100%;
  padding-top: 10px;
  width: 100%;
  overflow-y: auto;
  margin: 0;
}
.bgplace .button {    /* 送出按鈕 */
  background-color: #0a0a08;
  border-radius: 5px;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #fff;
  text-shadow: 1px #949494;
  position: relative;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);  
}
.button:hover {
  color: #003c9d;
  background-color: #fff;
  border: 2px #003c9d solid;
}
table {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  background: #ffffff;
  padding: 30px 30px 20px 30px;
  font: 12px Arial, Helvetica, sans-serif;
  color: rgb(4, 4, 4);
  border-radius: 5px;
  }
.img-fluid {
  margin: auto;
  border-radius: 1%;
  align-items: center;
}
.form-select {
  margin: auto;
  position: relative;
  cursor: pointer;
}
.form-select:hover {
  color: #00040a;
  background-color: #fff;
  border: 2px #000000 solid;
}
.btn_admin {  /* 後臺按鈕 */
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
}
.but_logout{     /* 登出按鈕 */
  background-color: #0a0a08;
  border-radius: 5px;
  border: none;
  margin: 0px 0px 0px 930px;
  padding: 10px 25px 10px 25px;
  color: #fff;
  text-shadow: 1px #949494;
  position: relative;
  cursor: pointer;


}
#but_back{    /* 上一頁按鈕 */
  background-color: #0a0a08;
  border-radius: 5px;
  border: none;
  /* margin: 50px 0px 0px 200px;
  padding: 10px 25px 10px 25px; */
  color: #fff;
  text-shadow: 1px #949494;
  position: relative;
  cursor: pointer;

}
#question{
  border: none;
    margin-left: 40px;
    width: max-content;
    border: 2px #81868d solid;
    content:inherit;
}

footer{
width: 100%;
background-color: #ffffff;
color: #000000;
/* position: fixed;
bottom: 0; */
/* height: 20vh; */
height: auto;
}

